@font-face {
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    color: white;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
}
body,html {
    height: 100%;
    background: #3A4D7C;
}
.pagina {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1E3161;
    width: 75%;
    height: 75%;
    border-radius: 20px;
    box-shadow: 0 10px 20px #314373;
}
.barra {
    width: 29.96%;
    padding-left: 100px;
    padding-top: 75px;
    height: 90%;
}
.direita {
    height: 90%;
    position: absolute;
    left: 70%;
    top: 75px;
}
.direita img {
    margin-right: 25px;
}
.lang {
    height: 90%;
    position: absolute;
    left: 50%;
    top: 75px;
    transform: translate(-50%, 0);
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid p {
    padding: 5px;
    margin: 5px;
    text-align: center;
}
.grid p.selecionado {
    background-color: #5CC4DC;
    padding: 10px;
    border-radius: 5px;
}
ul {
   list-style: none; 
}

ul li {
    margin-bottom: 25px;
}
.baixo {
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.baixo a {
    margin-right: 25px;
    color: #838FAA;
    text-decoration: none;
}
.baixo a:hover {
    text-decoration: underline;
}